version: "3"
volumes:
    dummy_git:
    node_modules:
    dbdata:
services:
  front:
    image: node:fermium
    volumes:
      - ./front/:/src
      - dummy_git:/src/.git
      - node_modules:/src/node_modules
    working_dir: /src
    command: tail -f /dev/null
    ports: 
      - 8080:8080
  back:
    image: python:3
    volumes:
      - ./back/:/src
    working_dir: /src
    command: bash -c "pip install -U -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"
    ports: 
      - 5000:5000
    depends_on:
      - db
  db:
    image: postgres:13
    volumes: 
      - dbdata:/var/lib/postgresql/data
    ports: 
      - "5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres